.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 30px;
}

.header {
  overflow: hidden;
  background-color: #fffb54;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
}

.row {
  display: flex;
}

.firstFold {
  /* overflow: hidden; */
  background-color: #f1f1e3;

  /* top: 0; */
  height: 200px;
  width: 100%;
}

.secondFold {
  height: 150px;
  width: 100%;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 10rem;
  height: 10rem;
}
.aboutHomeImage {
  width: 18rem;
  /* height: 10rem; */
}

.headerName {
  font-weight: bold;
}
.headerMenu {
  font-weight: 600;
}

/* .column {
  float: left; */
/* } */

.headerAvatarImage {
  width: 3rem;
}

.backToHome {
  margin: 3rem 0 0;
}
.pl3 {
  padding-left: 30px;
}
.pl2 {
  padding-left: 20px;
}
.pl1 {
  padding-left: 10px;
}
.pr15 {
  padding-right: 150px;
}
.pt3 {
  padding-top: 30px;
}

.px2 {
  padding-left: 20px;
  padding-right: 20px;
}
.floatRight {
  float: right;
}
.positionAbsolute {
  position: absolute;
}

.width30 {
  width: 30%;
}
.width70 {
  width: 70%;
}

.width40 {
  width: 40%;
}
.width60 {
  width: 60%;
}
.width20 {
  width: 20%;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.lineHeight0 {
  line-height: 0px;
}
.desc {
  font-size: initial;
}
.col {
  grid-row: 1;
}
.marginLeftAuto {
  margin-left: auto;
}

.alignItemCenter {
  align-items: center;
}

.marginUnset {
  margin: unset;
}
.margint7 {
  margin-top: 70px;
}
.margintn7 {
  margin-top: -70px;
}
