.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 30px;
}

.header {
  overflow: hidden;
  background-color: #fffb54;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
}

.row {
  display: flex;
}

.firstFold {
  background-color: #f1f1e3;
  height: 200px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .thirdFold {
    background-color: #f1f1e3;
    height: 950px;
    width: 100%;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .thirdFold {
    background-color: #f1f1e3;
    /* height: 550px; */
    width: 100%;
  }
}

.fifthFold {
  background-color: #f1f1e3;
  height: 300px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .secondFold {
    height: 375px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  .forthFold {
    height: 500px;
    width: 100%;
  }
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 10rem;
}
.aboutHomeImage {
  width: 18rem;
  /* height: 10rem; */
}

@media screen and (min-width: 768px) and (max-width: 2000px) {
  .creationImage {
    width: 25rem;
    height: 12rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 2000px) {
  .galleryImage {
    width: 13rem;
    height: 16rem;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .galleryImage {
    width: 13rem;
    height: 6rem;
  }
}

.headerName {
  font-weight: bold;
}
.headerMenu {
  font-weight: 600;
}

/* .column {
  float: left; */
/* } */

.headerAvatarImage {
  width: 3rem;
}

.backToHome {
  margin: 3rem 0 0;
}
.pl3 {
  padding-left: 30px;
}
.pl2 {
  padding-left: 20px;
}
.pl1 {
  padding-left: 10px;
}
.pr15 {
  padding-right: 150px;
}
.pt3 {
  padding-top: 30px;
}

.pt4 {
  padding-top: 40px;
}
.pt2 {
  padding-top: 20px;
}

.pt3r {
  padding-top: 3rem;
}

.padt2 {
  padding-top: 2px;
}

.px2 {
  padding-left: 20px;
  padding-right: 20px;
}
.floatRight {
  float: right;
}
.positionAbsolute {
  position: absolute;
}

.width30 {
  width: 30%;
}
.width70 {
  width: 70%;
}

.width40 {
  width: 40%;
}
.width60 {
  width: 60%;
}
.width20 {
  width: 20%;
}
.width25 {
  width: 25%;
}

.width50 {
  width: 50%;
}

.width100 {
  width: 100%;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.lineHeight0 {
  line-height: 0px;
}
.desc {
  font-size: initial;
}
.col {
  grid-row: 1;
}
.marginLeftAuto {
  margin-left: auto;
}

.marginRightAuto {
  margin-right: auto;
}

.alignItemCenter {
  align-items: center;
}

.marginUnset {
  margin: unset;
}
.margint7 {
  margin-top: 70px;
}

@media screen and (min-width: 768px) and (max-width: 2000px) {
  .margintn7 {
    margin-top: -70px;
  }
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  /* width: 100%; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.displayNone {
  display: "none" !important;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .mobileNav {
    display: block;
    color: "black";
  } /* show it on small screens */
}

@media screen and (min-width: 768px) and (max-width: 2000px) {
  .mobileNav {
    display: none;
    color: "black";
  } /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .webNav {
    display: none;
    color: "black";
  } /* show it on small screens */
}

@media screen and (min-width: 768px) and (max-width: 2000px) {
  .webNav {
    display: "";
    color: "black";
  } /* hide it elsewhere */
}

.colorBlack {
  color: black !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 2000px) {
  .contactWidth {
    width: 25%;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .contactWidth {
    width: 40%;
  }
}

.tag {
  display: inline-block;
  background: #000;
  padding: 1px 5px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  color: #fff !important;
  font-size: 0.9rem;
}

.imgShadow {
  box-shadow: 5px 10px 8px #888888;
}

.removeAStyle {
  color: black;
}
.removeAStyle:hover {
  text-decoration: none;
  cursor: pointer;
}
